/*css Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body {
  height: 100%;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: 'open_sansregular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Regular-webfont.woff2") format('woff2'), url("../fonts/OpenSans-Regular-webfont.woff") format('woff'), url("../fonts/OpenSans-Regular-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/OpenSans-Semibold-webfont.woff") format('woff'), url("../fonts/OpenSans-Semibold-webfont.woff2") format('woff2'), url("../fonts/OpenSans-Semibold-webfont.ttf") format('truetype'), url("../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/montserrat-regular-webfont.woff2") format('woff2'), url("../fonts/montserrat-regular-webfont.woff") format('woff'), url("../fonts/montserrat-regular-webfont.ttf") format('truetype'), url("../fonts/montserrat-regular-webfont.svg#montserratregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-light';
  src: url("../fonts/montserrat-light-webfont.eot");
  src: url("../fonts/montserrat-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/montserrat-light-webfont.woff2") format('woff2'), url("../fonts/montserrat-light-webfont.woff") format('woff'), url("../fonts/montserrat-light-webfont.ttf") format('truetype'), url("../fonts/montserrat-light-webfont.svg#montserratlight") format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: open_sansregular, montserrat-light, sans-serif;
  font-size: 16px;
  color: #124153;
}

.modal-backdrop {
  height: 100%;
}

.page-container {
  margin-bottom: 78px;
}

.page-container .navbar {
  margin-bottom: 48px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 0;
}

.navbar .navbar-header h1 {
  margin: 0;
  padding: 0;
}

.navbar .navbar-header .navbar-brand.logo {
  display: inline-block;
  padding: 0;
  width: 220px;
  height: 48px;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 77px;
  box-shadow: 0 1px 2px -1px #000;
  height: 100%;
}

.main-container .page-header {
  padding: 15px 0px;
  margin: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px -1px #000;
  -moz-box-shadow: 0 1px 2px -1px #000;
  box-shadow: 0 1px 2px -1px #000;
}

.content-container div div p {
  font-family: montserrat-light;
}

.main-container .page-header h2 {
  margin: 0;
  padding: 0;
  font-family: montserrat-regular;
  font-size: 20px;
}

.main-container .content-container {
  margin-bottom: 30px;
}

.main-container .content-container .row.shadow-container {
  margin: 0 0 0px 0;
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0 1px 2px -1px #000;
  -moz-box-shadow: 0 1px 2px -1px #000;
  box-shadow: 0 1px 2px -1px #000;
  border: solid 1px #ddd;
}

.main-container .content-container .row.title-header {
  margin: 0 0 0px 0;
  padding: 15px 30px;
  font-family: open_sanssemibold;
  -webkit-box-shadow: 0 1px 2px -1px #000;
  -moz-box-shadow: 0 1px 2px -1px #000;
  box-shadow: 0 1px 2px -1px #000;
}

.main-container .content-container .row .content {
  padding: 28px 15px;
}

.main-container h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: normal;
  font-family: montserrat-regular;
}

.nopadding {
  padding: 0 !important;
}

.nopadding-left {
  padding-left: 0px!important;
}

.nopadding-right {
  padding-right: 0px!important;
}

.acct-selection {
  font-size: 11px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: #e91a1a;
}

.main-container .acc-selector {
  background-color: transparent;
  padding: 30px 84px 0px 84px;
}

.main-container .consent-info .white-container {
  padding: 20px 20px;
  background-color: #fff;
  margin: 0 0 0px 0;
  border-width: 1px;
  border-style: solid;
}

.main-container .aisp-footer {
  padding: 0 96px 28px 96px;
}

.btn,
.btn:hover,
.btn:active {
  padding: 6px;
  min-width: 170px;
  background-image: none;
  box-shadow: none;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  font-size: 20px;
  text-shadow: none;
}

.main-container .aisp-footer button.secondary {
  border-width: 1px;
  border-style: solid;
}

footer.row {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: 0;
  font-size: 16px;
  border-top: 4px solid #f5f5f5;
}

.copy-right-text {
  text-align: left;
}

.term-menu-list {
  text-align: right;
}

footer .container {
  padding: 28px 15px;
}

footer .container .footer-links {
  margin: 0;
}

footer .container .footer-links li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #fff;
}

footer .container .footer-links li:last-child {
  border-right: none;
  padding-right: 0px;
}

footer .container .footer-links li a {
  text-decoration: none;
}

.modal-content .pop-confirm-header button {
  color: #fff;
  opacity: 1;
  font-size: 16px;
  margin-top: 0px;
}

/*****new cma-consent ui***/

/*.main-header{
  margin:30px 15px;
  font-size:16px;
}
*/

.main-container h5 {
  font-size: 16px;
}

.consent-header {
  font-size: 16px;
  font-family: open_sanssemibold;
}

.consent-content {
  font-size: 16px;
  line-height: 20px;
}

.acct-select {
  left: 40%;
  position: relative;
  margin-bottom: 10px;
}

.acct-select-header {
  text-align: center;
}

.main-container .consent-info .row.shadow-container.center-align {
  text-align: center;
}

.btn-allow {
  margin-left: 350px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.validity {
  padding-top: 10px;
  padding-bottom: 10px;
}

.table-margin {
  margin-left: 20px !important;
  margin-right: 20px!important;
}

.account-select {
  position: relative;
}

.account-select .account-search-box {
  margin-bottom: 30px;
}

.account-select .search-icon,
.search-icon:hover {
  position: absolute;
  min-width: 36px !important;
  top: 15px;
  right: 30px;
  border: 0px;
  padding: 3px 0px;
}

.table-content {
  padding: 20px 60px 0px 80px;
}

.select-act-header {
  margin: 30px 0px 60px 68px;
}

table {
  border-bottom: 2px solid #ddd;
}

.remove-icon,
.remove-icon:hover,
.remove-icon:active,
.remove-icon:visited,
.remove-icon:focus {
  cursor: pointer;
  text-decoration: none;
  color: #337ab7;
}

.pagination {
  margin: 15px 0px;
}

.active {
  background-color: #107fab !important;
  color: #fff !important;
}

.cursorpointer {
  cursor: pointer;
}

.btn.btn-primary[disabled] {
  background-color: #ffffff;
  border-color: #a7a6a6;
  color: #a7a6a6;
}

/*checkbox css*/

.text-o {
  font-size: 0px;
}

table.table {
  margin-bottom: 0px;
}

table.table tbody tr td {
  border: none;
  padding: 10px 8px;
}

table.table thead {
  border-bottom: 2px solid #ddd;
  font-family: open_sanssemibold;
}

tbody tr td div.checkbox {
  /*  left: 53px; */
}

.disable-account a i {
  color: #EE0000;
  font-size: 18px;
  margin-left: 4px;
}

.disabled-account-msg-section {
  min-height: 64px;
  font-size: 16px;
  color: #053C59;
  letter-spacing: 0;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* Tooltip style start */

.tooltip-content {
  width: 220px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
  font-size: 14px;
  color: #053C59;
  letter-spacing: 0;
  line-height: 18px;
}

.right.popover > .arrow::after {
  left: 2px;
}

.popover.right>.arrow {
  border-right-color: #FF6969;
}

.popover-inner {
  padding: 10px;
}

.popover.right {
  border: 1px solid #FF6969;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.popover-content,
.popover {
  padding: 0;
}

table.table tbody tr.acct-disable td,
table.table-responsive tbody tr.acct-disable td {
  color: #CCCCCC;
}

.table-view-selected-account table tbody tr td:last-child {
  text-align: center;
}

.checkbox,
.radio {
  margin: 0px;
  left: 24px;
  top: -2px;
}

.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.radio label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 9px;
  height: 9px;
  left: 4px;
  top: 4px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled {
  cursor: not-allowed;
}

.radio input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 0px;
  font-family: open_sanssemibold;
  padding-left: 10px;
}

.term-cond-block div.checkbox label {
  font-weight: normal;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #184153;
  border-radius: 0px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 2px;
  font-size: 10px;
  color: #184153;
  font-weight: normal;
}

.term-cond-block .checkbox label::after {
  top: 1px;
}

.checkbox input[type="checkbox"],
.checkbox input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:focus+label::before,
.checkbox input[type="radio"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after,
.checkbox input[type="radio"]:checked+label::after {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  content: "\e013";
}

.checkbox input[type="checkbox"]:indeterminate+label::after,
.checkbox input[type="radio"]:indeterminate+label::after {
  display: block;
  content: "";
  width: 10px;
  height: 3px;
  background-color: #555555;
  border-radius: 2px;
  margin-left: -16.5px;
  margin-top: 7px;
}

.checkbox input[type="checkbox"]:disabled,
.checkbox input[type="radio"]:disabled {
  cursor: not-allowed;
}

.checkbox input[type="checkbox"]:disabled+label,
.checkbox input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before,
.checkbox input[type="radio"]:disabled+label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

input[type="checkbox"].styled:checked+label:after,
input[type="radio"].styled:checked+label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

input[type="checkbox"] .styled:checked+label::before,
input[type="radio"] .styled:checked+label::before {
  color: #fff;
}

input[type="checkbox"] .styled:checked+label::after,
input[type="radio"] .styled:checked+label::after {
  color: #fff;
}

.pagination-section {
  text-align: right;
}

.logo-container {
  padding: 0px;
}

.error-container h3 {
  font-size: 16px;
  font-family: open_sanssemibold;
  margin-bottom: 5px;
}

.button-section {
  border-bottom: 1px solid #dddddd;
  margin: 0px 15px;
  padding: 20px 0px;
}

.impinfo {
  font-family: open_sanssemibold;
  margin-bottom: 10px;
}

ul.permission-list {
  padding-top: 15px;
  padding-bottom: 15px;
}

ul.permission-list li h3 {
  font-size: 16px;
}

ul.permission-list li p {
  margin-left: 18px;
  line-height: 22px;
}

ul.permission-list li h3:before {
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 14px;
  content: "\e074";
}

ul.permission-list li .panel-group {
  margin-bottom: 0px;
}

ul.permission-list li .panel-title>a {
  text-decoration: none;
  color: #124153;
}

.collapse-container {
  font-family: open_sanssemibold;
  padding-top: 15px;
}

.collapse-container .btn,
.collapse-container .btn:hover,
.collapse-container .btn:active,
.collapse-container .btn:focus,
.collapse-container .btn:active:focus {
  min-width: 0px;
  width: 70px;
  font-size: 14px;
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  outline: 0 none !important;
  color: #124153;
}

.collapse-container .btn-span {
  margin-right: 5px;
}

ul.permission-list li .list-group-item {
  background-color: #f5f5f5;
  border-color: #ddd;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

ul.permission-list li .permission-data {
  background-color: #f8f7f7;
  border-color: #ddd;
  border-radius: 0px;
}

.from-date {
  padding: 0px 2px 0px 0px;
}

.to-date {
  padding: 0px 2px 0px 40px;
}

.date-data {
  font-family: open_sanssemibold;
}

.term-cond-block {
  padding-left: 26px;
}

/************************************* Start PISP page's CSS *************************************/

.pisp-main-container {
  margin: 25px 80px;
  background-color: #fff;
  box-shadow: 0 1px 2px -1px #000;
}

.pisp-main-container .pisp-paymt-info {
  padding: 15px 10px 10px 12px;
}

.pisp-paymt-info h3 {
  color: #fff;
}

.marg-btm {
  margin-bottom: 20px;
}

.pay-selector {
  margin: 5px 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.term-selector {
  border-top: 1px solid #cecece;
  padding-top: 10px;
  margin-top: 30px;
}

.btn-inline {
  display: inline-block;
  float: none;
  margin-top: 15px;
}

.disclamair {
  font-size: 12px;
  font-weight: small;
  color: #666c6f;
  margin-top: 45px;
}

.pisp-info-container {
  padding: 65px 30px;
}

.cursr-pointer {
  cursor: pointer;
}

.confirm-msg {
  font-size: 14px;
  line-height: 16px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.fade {
  background: rgba(0, 0, 0, 0.60);
}

.dropdown-button .btn,
.dropdown-button .btn:hover,
.dropdown-button .btn:active,
.dropdown-button .btn-default:focus {
  width: 500px;
  margin: 0px;
  text-align: left;
  font-size: 16px;
  height: 40px;
  background-color: white;
  border-radius: 3px;
  padding-left: 20px;
}

.dropdown-menu-data {
  width: 500px;
  left: auto;
  font-size: 16px;
  padding-top: 0;
  margin-top: 0;
}

.dropdown-caret {
  top: 15px;
  right: 15px;
  position: relative;
}

.dropdown-menu-anchor {
  text-decoration: none;
  height: 35px;
  align-items: center;
  display: flex!important;
}

.dropdown-button div button,
.dropdown-button div button:focus,
.dropdown-button div button:active {
  position: relative;
  z-index: 0!important;
}

.dropdown {
  top: 97% !important;
}

.scrollable-menu {
  height: auto;
  max-height: 140px;
  overflow-x: hidden;
  position: absolute;
  z-index: 1;
}

.alert {
  margin-bottom: 0px!important;
}

.alert i {
  font-size: 18px;
}

.alert strong {
  font-weight: 800;
}

.alert label {
  padding-left: 5px;
}

/*ul.scrollable-menu li{ position: absolute;  z-index: 10; height: auto;}*/

.pisp-error-alert-box div.alert {
  padding: 15px 32px;
}

.payment-Details-text,
.payment-Details-text strong {
  font-family: open_sanssemibold !important;
  color: #124153!important;
}

.pay-from-btn button:focus,
.pay-from-btn button:active {
  border-color: #107fab;
  outline: none;
}

.pay-from-btn ul.scrollable-menu {
  border-radius: 0px;
  border-color: #107fab;
}

.help-list {
  margin-bottom: 25px;
}

.pop-confirm-body {
  padding: 20px 0px;
  margin: 0px 15px;
}

/************************************* End PISP page's CSS *************************************/

/******************* Start Common Responsive/Media query css code for Mobile Device *******************/

@media screen and (max-width: 767px) and (min-width: 320px) {
  .pisp-main-container {
    margin: 0px -15px;
  }

  .navbar .navbar-header h1 {
    margin: auto;
    width: 210px;
  }

  .page-container .navbar {
    margin-bottom: 10px;
  }

  .main-container .page-header {
    text-align: center;
    padding: 10px 10px;
  }

  .main-container .content-container .row.shadow-container {
    padding: 10px 10px;
  }

  .main-container .content-container {
    margin-bottom: 5px;
  }

  .account-select .search-icon,
  .search-icon:hover {
    top: 5px;
    right: 10px;
  }

  .checkbox {
    left: 16px;
  }

  .btn,
  .btn:hover,
  btn:active {
    margin-left: 0px;
    margin-top: 5px;
  }

  .pagination-section {
    text-align: center;
  }

  .pagination {
    margin: 0px;
  }

  .term-cond-block {
    padding: 13px 15px;
  }

  .term-cond-block div.checkbox label {
    padding-left: 10px;
  }

  footer .container {
    padding: 10px 10px;
  }

  .copy-right-text {
    text-align: center;
  }

  .term-menu-list {
    text-align: center;
  }

  .div-view,
  .div-view-selected-account {
    margin: 0px -10px;
  }

  .div-view div.acc-cont,
  .div-view-selected-account div.acc-cont {
    margin-bottom: 10px;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
  }

  .div-view div.acc-cont:last-child,
  .div-view-selected-account div.acc-cont:last-child {
    border-bottom: none;
  }

  .div-view div.acc-cont div.checkbox label {
    padding-left: 10px;
  }

  .div-view div.acc-cont p {
    padding-left: 25px;
    line-height: 20px;
  }

  .div-view-selected-account div div {
    padding: 0px;
  }

  .div-view-selected-account div.acc-cont p {
    line-height: 20px;
  }

  .panel-group .panel+.panel {
    margin-top: -1px;
  }

  .panel-title>.small,
  .panel-title>.small>a,
  .panel-title>a:hover,
  .panel-title>a:focus {
    text-decoration: none;
  }

  .panel-heading {
    cursor: pointer;
  }

  .panel-heading.collapsed .accordion-toggle:after {
    content: "\e114";
  }

  .btn-area {
    padding: 0px 10px !important;
    margin-bottom: 8px;
  }

  .padding-top {
    padding-top: 15px !important;
  }

  .main-container .content-container .row.title-header {
    padding: 15px 15px;
  }

  .permission-small-device-view div.panel-group div.panel {
    padding: 0px;
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }

  .dropdown-button .btn,
  .dropdown-button .btn:hover,
  .dropdown-button .btn:active,
  .dropdown-button .btn-default:focus {
    width: 185px;
  }

  .dropdown-menu-data {
    width: 185px;
  }

  .scrollable-menu {
    z-index: 1000;
  }

  .xs-nopadding {
    padding: 0px;
  }

  .button-section {
    padding: 0px;
  }

  .xs-button-section {
    padding: 10px;
  }

  .modal-footer .btn+.btn {
    margin-left: 0px;
  }

  .btn-primary,
  .btn-secondary {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
  .dropdown-button .btn,
  .dropdown-button .btn:hover,
  .dropdown-button .btn:active,
  .dropdown-button .btn-default:focus {
    width: 170px;
  }

  .dropdown-menu-data {
    width: 170px;
  }
}

/******************* End Common Responsive/Media query css code for Mobile Device *******************/

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  z-index: 0 !important;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 0 !important;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .pagination>.disabled>a {
    pointer-events: none;
    cursor: not-allowed;
  }
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
  color: #535353;
}

.loading-spin {
  animation: loading-spin 2s infinite linear;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}